
body{
    margin: auto;
}
#myApp3{
    display: grid;
    margin-left: 400px;
    width: 500px;
    border: solid 1px;
    
}
#myApp3 h1{
    text-align: center;
    color: red
}

label, input, button{
    margin: 5px 20px;
}

#myApp3 h2{
    margin-left: 30px;
    color:rgb(20, 20, 103)
}

button{
    background-color: antiquewhite;
}
hr{
    margin-right: 70px;
   
}